#footer
  background: color-footer-background
  padding: 1.25rem 0
  // border-top: 1px solid color-border
  color: color-grey
  text-align: center
  font-weight: 300
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: 1.5rem;
  font-size: 0.75rem;