@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: mobile-nav-width
    height: 100%
    background: #fff
    // border-right: 1px solid #ff8243

@media mq-mobile
  .mobile-nav-link
    display: block
    color: #999
    text-decoration: none
    padding: 15px 20px
    font-size: 1rem
    font-weight: 300
    margin: 1rem
    border-left: 1px solid #ff8243
    &:hover
      color: color-link
